<!DOCTYPE html>
<html>
  <head>
    <title>Page not Found</title>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html{
        display: table;
        height: 100%;
        width: 100%;
        text-align: center;
      }
      body{
        display: table-cell;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <h1>Error 404: Page not found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
  </body>
</html>